body{
    background: url(/assets/img/5654986.jpg);
    
    
    h1{
        color: rgb(0, 0, 0);
        text-align: center;
        font-family: "Inter", sans-serif;
        margin-top: 20px;

    }


}



    
.datos_personales{
    color: rgb(0, 0, 0);
    font-family:  "Inter", sans-serif;
    margin-left: 30px;
    margin-top: 40px;
    
}
.estudios{
    margin-top: 40px;
}


.cv{
    display: flex;
    justify-content: left;
    margin-top: 45px;
    margin-left: 25px;
    
}   

#foto_cv{
    border-radius: 15px;
}

.texto{
    color: rgb(0, 0, 0);
    font-family:  "Inter", sans-serif;
    margin-left: 25px;
    justify-content: center;
    
}

    

.box { 
    font-family:  "Inter", sans-serif;
    font-size: 18px; 
    font-weight: 400;
    color: rgb(0, 0, 0); 
    text-align: center;    
    background:hsl(0, 0%, 64%);
    margin-top: 100px;
    margin-bottom: 25px;
    padding: 15px;
    border-radius: 15px;
    }

    .container-fluid{
        font-family:  "Inter", sans-serif;
        font-size: 18px;
        background-color: rgb(146, 146, 146);
        border-radius: 20px;
    }

    .info{
        margin-top: 45px;
        font-family:  "Inter", sans-serif;
        color: rgb(0, 0, 0);
    }


    
    
    
